.Tweet {
  padding: 9px 12px;
  padding-left: 60px;
  border-bottom: 1px solid #e6ecf0;
  min-height: 70px;
}
.Tweet:hover {
  background-color: #f5f8fa;
}

.Link {
  text-decoration: none;
  color: inherit;
}
.Link:hover {
  color: #0084B4;
}

.Username {
  color: #657786;
}

.ReplyingTo {
  font-size: 0.75rem;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProfileImage {
  float: left;
  margin-top: 3px;
  margin-left: -54px;
  width: 48px;
  height: 48px;
  border-radius: 0.25rem;
}

.ImageMedia {
  display: block;
  border-radius: 0.25rem;
  border: 1px solid #e6ecf0;
  margin-top: 0.5rem;
  width: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.Text {
  white-space: pre-wrap;
}

.Icons {
  height: 18px;
  margin-top: 0.5rem;
  color: #aab8c2;
}

.ReplyIcon {
  cursor: pointer;
}
.ReplyIcon:hover {
  color: #1da1f2;
}

.RetweetIcon {
  cursor: pointer;
  margin-left: 3rem;
}
.RetweetIcon:hover,
.RetweetIconActive {
  color: #17bf63;
}

.FavoriteIcon {
  cursor: pointer;
  margin-left: 3rem;
}
.FavoriteIcon:hover,
.FavoriteIconActive {
  color: #e2264d;
}

.VerifiedIcon {
  color: #1da1f2;
}

.Retweeted {
  font-size: 0.75rem;
}

.RetweetedIcon {
  color: #17bf63;
  float: left;
  margin-left: -54px;
  width: 48px;
  text-align: right;
}

.QuotedStatus {
  display: block;
  margin-top: 1rem;
  padding: 9px 12px;
  border: solid 1px #e6ecf0;
  cursor: pointer;
  border-radius: 0.25rem;
}